// Enter LESS code here. main.css will be generated automatically.


// Inspiration: http://www.timbercoast.com/index.html


@color-white: #fff;
@color-neutral-light: #DEDEDE;
@color-neutral: #AAAAAA;
@color-neutral-dark: #464646;
@color-black: #333;



@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: local('Muli'), url(../fonts/Muli-Regular.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


body {
	min-height: 100%;

	font-family: 'Muli', sans-serif;

	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dedede+0,f3f3f3+100 */
	background: rgb(222,222,222); /* Old browsers */
	background: -moz-linear-gradient(top, @color-neutral-light 0%, rgba(243,243,243,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color-neutral-light), color-stop(100%,rgba(243,243,243,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, @color-neutral-light 0%,rgba(243,243,243,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, @color-neutral-light 0%,rgba(243,243,243,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, @color-neutral-light 0%,rgba(243,243,243,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom, @color-neutral-light 0%,rgba(243,243,243,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='@color-neutral-light', endColorstr='#f3f3f3',GradientType=0 ); /* IE6-9 */
}



.page-header {
	margin-top: 0;
	border-bottom-color: @color-neutral-dark;
}

h1, .h1 {
	font-size: 24px;
	@media(min-width:768px) {
		font-size: 30px;
	}
}


p {
	@media(min-width:992px) {
		font-size: 16px;
	}
	@media(min-width:1200px) {
		font-size: 18px;
	}
}

blockquote p {
	@media(min-width:992px) {
		font-size: 20px;
	}
	@media(min-width:1200px) {
		font-size: 24px;
	}
}


.image {
	display: block;
	width: 100%;
	height: auto;
}


// Images from WYSIWYG-Editor
img.size-thumbnail, img.size-medium, img.size-large, img.size-full,
figure.wp-caption.aligncenter, figure.wp-caption.alignright, figure.wp-caption.alignleft,
figure.wp-caption.aligncenter img, figure.wp-caption.alignright img, figure.wp-caption.alignleft img {
	display: block;
	width: 100% !important;
	height: auto;
}

@media(min-width:768px) {
	figure.wp-caption.alignright, img.alignright {
		clear: both;
		float: right;
		width: 50% !important;
	}
	figure.wp-caption.alignleft, img.alignleft {
		clear: both;
		float: left;
		width: 50% !important;
	}
}

@media(min-width:992px) {
	figure.wp-caption.alignright, img.alignright, figure.wp-caption.alignleft, img.alignleft {
		width: 33% !important;
	}

}


// Image Gallery in WYSIWYG-Content
.gallery {
	.row {
		margin-left: -7px;
		margin-right: -7px;
	}
	.col {
		padding-left: 7px;
		padding-right: 7px;
	}
	img {
		width: 100%;
		height: auto;
		display: block;
		margin-top: 7px;
		margin-bottom: 7px;
	}

}


.container .jumbotron {
	border-radius: 0;
	background-color: @color-neutral-light;
	background-size: cover; // In case inline background-image is set.

	@media(max-width:767px) {
		padding-left: 15px;
		padding-right: 15px;
	}
}


address {
	line-height: 1.8em;
	font-size: 14px;
	@media(min-width:992px) {
		font-size: 18px;
	}
}


.btn {
	border-radius: 0;
	border-width: 2px;
	font-weight: bold;

	&.btn-default {
		color: @color-black;
		border-color: @color-neutral;
		background-color: @color-white;

		&:hover, &:active, &:focus {
			background-color: @color-neutral-light;
		}
	}

	&.btn-primary {
		color: @color-white;
		border-color: @color-white;
		background-color: @color-neutral;

		&:hover, &:active, &:focus {
			background-color: @color-neutral-light;
		}
	}


}



// Forms
input, textarea {
	border-radius: 0;
	border: 1px solid @color-neutral;
	padding: 4px 6px;

	&:focus, &:active, &:hover {
		border-color: @color-neutral-dark;
	}
}


// Content Form 7 Plugin
.wpcf7-form {
	input, textarea {
		width: 100%;
	}
}



// Main Header
header.banner {
	margin-top: 30px;

	.container {
		background-color: @color-white;
		padding-top: 15px;
		padding-bottom: 15px;


		.header-titleimage {
			position: relative;

			.navbar-toggle-wrapper {
				position: absolute;
				right: 0;
				bottom: 0;
				padding: 30px;

				button.navbar-toggle {
					margin: 0;
					border-radius: 0;

					background-color: @color-white;

					.icon-bar {
						background-color: @color-neutral-dark;
					}
				}
			}
		}

		nav.nav-primary {
			margin-top: 15px;
			border-radius: 0;
			border-width: 0;
			background-color: @color-neutral;
			min-height: 0;


			div.navbar-collapse {
				padding: 0;

				ul.nav {
					margin: 0;

					> li {
						//display: inline-block;

						> a {
							color: @color-white;
							border-bottom: 1px solid @color-white;
							@media(min-width:768px) {
								border-bottom-width: 0;
								border-right: 1px solid @color-neutral-light;
							}
						}

						&.current-menu-item > a, &.current-menu-ancestor > a, > a:focus, > a:hover, > a:active {
							background-color: @color-neutral-dark;
						}
					}
				}
			}
		}
	}

}


.main-wrap {
	background-color: @color-white;
	padding-bottom: 15px;
}


aside.sidebar {
	nav.nav-primary-secondlevel {
		ul.nav {
			> li {
				display: none;

				&.current-menu-item, &.current-menu-ancestor {
					display: block;

					> a {
						display: none;
					}

					> ul {
						padding: 0;
						list-style-type: none;

						> li {
							display: inline-block;
							float: left;

							@media(min-width:992px) {
								display: block;
								float: none;
							}

							> a {
								background-color: @color-neutral-light;
								padding: 8px 10px 8px 10px;
								color: @color-black;
								margin-bottom: 5px;
								margin-right: 5px;

								display: inline-block;
								@media(min-width:992px) {
									display: block;
									margin-bottom: 0;
									margin-right: 0;
								}
							}

							&.current-menu-ancestor > a, &.current-menu-item > a, > a:focus, > a:hover, > a:active {
								background-color: @color-neutral;
								text-decoration: none;
							}

							+ li {
								@media(min-width:992px) {
									border-top: 1px solid @color-neutral;
								}

							}
						}
					}
				}

			}
		}
	}
}


footer.content-info {
	margin-bottom: 50px;

	.container {
		background-color: @color-white;

		section.widget {
			background-color: @color-neutral-dark;
			color: @color-white;
			margin-bottom: 15px;
			padding: 4px 8px;

			a {
				color: @color-white;
			}
		}
	}
}
