@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(../fonts/Muli-Regular.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
  min-height: 100%;
  font-family: 'Muli', sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dedede+0,f3f3f3+100 */
  background: #dedede;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dedede 0%, #f3f3f3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(100%, #f3f3f3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dedede 0%, #f3f3f3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dedede 0%, #f3f3f3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dedede 0%, #f3f3f3 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #dedede 0%, #f3f3f3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-neutral-light', endColorstr='#f3f3f3', GradientType=0);
  /* IE6-9 */
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
header.banner {
  margin-top: 30px;
}
header.banner .container {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
header.banner .container .header-titleimage {
  position: relative;
}
header.banner .container .header-titleimage button.navbar-toggle {
  border-radius: 0;
  position: absolute;
  right: 20px;
  bottom: 20px;
  background-color: #ffffff;
}
header.banner .container .header-titleimage button.navbar-toggle .icon-bar {
  background-color: #464646;
}
header.banner .container nav.nav-primary {
  margin-top: 10px;
  border-radius: 0;
  border-width: 0;
  background-color: #aaaaaa;
  min-height: 0;
}
header.banner .container nav.nav-primary div.navbar-collapse {
  padding: 0;
}
header.banner .container nav.nav-primary div.navbar-collapse ul.nav {
  margin: 0;
}
header.banner .container nav.nav-primary div.navbar-collapse ul.nav > li > a {
  color: #ffffff;
}
header.banner .container nav.nav-primary div.navbar-collapse ul.nav > li.current-menu-item > a,
header.banner .container nav.nav-primary div.navbar-collapse ul.nav > li > a:focus,
header.banner .container nav.nav-primary div.navbar-collapse ul.nav > li > a:hover,
header.banner .container nav.nav-primary div.navbar-collapse ul.nav > li > a:active {
  background-color: #464646;
}
.main-wrap {
  background-color: #ffffff;
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li {
  display: none;
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor {
  display: block;
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > a,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > a {
  display: none;
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul {
  padding: 0;
  list-style-type: none;
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li {
  display: inline-block;
  float: left;
}
@media (min-width: 992px) {
  aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li,
  aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li {
    display: block;
    float: none;
  }
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li > a,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li > a {
  background-color: #dedede;
  padding: 6px 10px 6px 10px;
  color: #ffffff;
  display: inline-block;
}
@media (min-width: 992px) {
  aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li > a,
  aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li > a {
    display: block;
    border-bottom: 1px solid #aaaaaa;
  }
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li.current-menu-item > a,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li.current-menu-item > a,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li > a:focus,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li > a:focus,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li > a:hover,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li > a:hover,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li > a:active,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li > a:active {
  background-color: #aaaaaa;
  text-decoration: none;
}
footer.content-info {
  margin-bottom: 50px;
}
footer.content-info .container {
  background-color: #ffffff;
}
footer.content-info .container section.widget {
  background-color: #464646;
  color: #ffffff;
  margin-bottom: 15px;
  padding: 4px 8px;
}
