@font-face {
  font-family: 'Muli';
  font-style: normal;
  font-weight: 400;
  src: local('Muli'), url(../fonts/Muli-Regular.woff) format('woff');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
body {
  min-height: 100%;
  font-family: 'Muli', sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dedede+0,f3f3f3+100 */
  background: #dedede;
  /* Old browsers */
  background: -moz-linear-gradient(top, #dedede 0%, #f3f3f3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dedede), color-stop(100%, #f3f3f3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dedede 0%, #f3f3f3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dedede 0%, #f3f3f3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dedede 0%, #f3f3f3 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #dedede 0%, #f3f3f3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color-neutral-light', endColorstr='#f3f3f3', GradientType=0);
  /* IE6-9 */
}
.page-header {
  margin-top: 0;
  border-bottom-color: #464646;
}
h1,
.h1 {
  font-size: 24px;
}
@media (min-width: 768px) {
  h1,
  .h1 {
    font-size: 30px;
  }
}
@media (min-width: 992px) {
  p {
    font-size: 16px;
  }
}
@media (min-width: 1200px) {
  p {
    font-size: 18px;
  }
}
@media (min-width: 992px) {
  blockquote p {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  blockquote p {
    font-size: 24px;
  }
}
.image {
  display: block;
  width: 100%;
  height: auto;
}
img.size-thumbnail,
img.size-medium,
img.size-large,
img.size-full,
figure.wp-caption.aligncenter,
figure.wp-caption.alignright,
figure.wp-caption.alignleft,
figure.wp-caption.aligncenter img,
figure.wp-caption.alignright img,
figure.wp-caption.alignleft img {
  display: block;
  width: 100% !important;
  height: auto;
}
@media (min-width: 768px) {
  figure.wp-caption.alignright,
  img.alignright {
    clear: both;
    float: right;
    width: 50% !important;
  }
  figure.wp-caption.alignleft,
  img.alignleft {
    clear: both;
    float: left;
    width: 50% !important;
  }
}
@media (min-width: 992px) {
  figure.wp-caption.alignright,
  img.alignright,
  figure.wp-caption.alignleft,
  img.alignleft {
    width: 33% !important;
  }
}
.gallery .row {
  margin-left: -7px;
  margin-right: -7px;
}
.gallery .col {
  padding-left: 7px;
  padding-right: 7px;
}
.gallery img {
  width: 100%;
  height: auto;
  display: block;
  margin-top: 7px;
  margin-bottom: 7px;
}
.container .jumbotron {
  border-radius: 0;
  background-color: #dedede;
  background-size: cover;
}
@media (max-width: 767px) {
  .container .jumbotron {
    padding-left: 15px;
    padding-right: 15px;
  }
}
address {
  line-height: 1.8em;
  font-size: 14px;
}
@media (min-width: 992px) {
  address {
    font-size: 18px;
  }
}
.btn {
  border-radius: 0;
  border-width: 2px;
  font-weight: bold;
}
.btn.btn-default {
  color: #333333;
  border-color: #aaaaaa;
  background-color: #ffffff;
}
.btn.btn-default:hover,
.btn.btn-default:active,
.btn.btn-default:focus {
  background-color: #dedede;
}
.btn.btn-primary {
  color: #ffffff;
  border-color: #ffffff;
  background-color: #aaaaaa;
}
.btn.btn-primary:hover,
.btn.btn-primary:active,
.btn.btn-primary:focus {
  background-color: #dedede;
}
header.banner {
  margin-top: 30px;
}
header.banner .container {
  background-color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
}
header.banner .container .header-titleimage {
  position: relative;
}
header.banner .container .header-titleimage .navbar-toggle-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 30px;
}
header.banner .container .header-titleimage .navbar-toggle-wrapper button.navbar-toggle {
  margin: 0;
  border-radius: 0;
  background-color: #ffffff;
}
header.banner .container .header-titleimage .navbar-toggle-wrapper button.navbar-toggle .icon-bar {
  background-color: #464646;
}
header.banner .container nav.nav-primary {
  margin-top: 10px;
  border-radius: 0;
  border-width: 0;
  background-color: #aaaaaa;
  min-height: 0;
}
header.banner .container nav.nav-primary div.navbar-collapse {
  padding: 0;
}
header.banner .container nav.nav-primary div.navbar-collapse ul.nav {
  margin: 0;
}
header.banner .container nav.nav-primary div.navbar-collapse ul.nav > li > a {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}
@media (min-width: 768px) {
  header.banner .container nav.nav-primary div.navbar-collapse ul.nav > li > a {
    border-bottom-width: 0;
    border-right: 1px solid #dedede;
  }
}
header.banner .container nav.nav-primary div.navbar-collapse ul.nav > li.current-menu-item > a,
header.banner .container nav.nav-primary div.navbar-collapse ul.nav > li.current-menu-ancestor > a,
header.banner .container nav.nav-primary div.navbar-collapse ul.nav > li > a:focus,
header.banner .container nav.nav-primary div.navbar-collapse ul.nav > li > a:hover,
header.banner .container nav.nav-primary div.navbar-collapse ul.nav > li > a:active {
  background-color: #464646;
}
.main-wrap {
  background-color: #ffffff;
  padding-bottom: 15px;
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li {
  display: none;
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor {
  display: block;
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > a,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > a {
  display: none;
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul {
  padding: 0;
  list-style-type: none;
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li {
  display: inline-block;
  float: left;
}
@media (min-width: 992px) {
  aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li,
  aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li {
    display: block;
    float: none;
  }
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li > a,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li > a {
  background-color: #dedede;
  padding: 8px 10px 8px 10px;
  color: #333333;
  margin-bottom: 5px;
  margin-right: 5px;
  display: inline-block;
}
@media (min-width: 992px) {
  aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li > a,
  aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li > a {
    display: block;
    margin-bottom: 0;
    margin-right: 0;
  }
}
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li.current-menu-ancestor > a,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li.current-menu-ancestor > a,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li.current-menu-item > a,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li.current-menu-item > a,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li > a:focus,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li > a:focus,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li > a:hover,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li > a:hover,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li > a:active,
aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li > a:active {
  background-color: #aaaaaa;
  text-decoration: none;
}
@media (min-width: 992px) {
  aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-item > ul > li + li,
  aside.sidebar nav.nav-primary-secondlevel ul.nav > li.current-menu-ancestor > ul > li + li {
    border-top: 1px solid #aaaaaa;
  }
}
footer.content-info {
  margin-bottom: 50px;
}
footer.content-info .container {
  background-color: #ffffff;
}
footer.content-info .container section.widget {
  background-color: #464646;
  color: #ffffff;
  margin-bottom: 15px;
  padding: 4px 8px;
}
footer.content-info .container section.widget a {
  color: #ffffff;
}
