// Enter LESS code here. main.css will be generated automatically.


// Inspiration: http://www.timbercoast.com/index.html


@color-white: #fff;
@color-neutral-light: #F3F4F7;
@color-neutral: #AAAAAA;
@color-neutral-dark: #464646;
@color-black: #222;



@font-face {
	font-family: 'Muli';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Muli-Regular.woff) format('woff');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@font-face {
	font-family: 'URWGothicBook';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/URWGothic-Boo.woff) format('woff');
}



.typeface-display() {
	font-family: 'URWGothicBook', sans-serif;
	letter-spacing: 0.02em;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 400;
}
.typeface-regular() {
	font-family: 'Muli', sans-serif;
	font-style: normal;
	font-weight: 400;
}


html {
	min-height: 100%;
}
body {
	min-height: 100%;
	.typeface-regular();
	background-color: @color-neutral-light;
}




h1, .h1 {
	.typeface-display();
	font-size: 24px;
	@media(min-width:768px) {
		font-size: 30px;
	}
}
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	.typeface-display();
}


p {
	@media(min-width:992px) {
		font-size: 16px;
	}
	@media(min-width:1200px) {
		font-size: 18px;
	}
}

blockquote p {
	@media(min-width:992px) {
		font-size: 20px;
	}
	@media(min-width:1200px) {
		font-size: 24px;
	}
}


.image {
	display: block;
	width: 100%;
	height: auto;
}


// Images from WYSIWYG-Editor
img.size-thumbnail, img.size-medium, img.size-large, img.size-full,
img.aligncenter, img.alignright, img.alignleft, img.alignnone,
figure.wp-caption.aligncenter, figure.wp-caption.alignright, figure.wp-caption.alignleft,
figure.wp-caption.aligncenter img, figure.wp-caption.alignright img, figure.wp-caption.alignleft img {
	display: block;
	width: 100% !important;
	height: auto;
}

@media(min-width:768px) {
	figure.wp-caption.alignright, img.alignright {
		clear: both;
		float: right;
		width: 50% !important;
		margin-left: 15px;
		margin-bottom: 15px;
	}
	figure.wp-caption.alignleft, img.alignleft {
		clear: both;
		float: left;
		width: 50% !important;
		margin-right: 15px;
		margin-bottom: 15px;
	}
}

@media(min-width:992px) {
	figure.wp-caption.alignright, img.alignright, figure.wp-caption.alignleft, img.alignleft {
		width: 33% !important;
	}

}


// Image Gallery in WYSIWYG-Content
.grid-gallery {
	.row {
		margin-left: -7px;
		margin-right: -7px;
	}
	.col {
		margin-top: 7px;
		margin-bottom: 7px;

		position: relative;
		padding-left: 7px;
		padding-right: 7px;
	}


	// Auto clear
	.col-xs-6.col:nth-child(2n+1) {
		clear:left;
	}
	.col-xs-4.col:nth-child(3n+1) {
		clear:left;
	}
	.col-xs-6.col-md-3.col:nth-child(2n+1) {
		clear:left;
	}
	.col-xs-4.col-md-2.col:nth-child(3n+1) {
		clear:left;
	}
	@media(min-width:992px) {
		.col-xs-6.col-md-3.col:nth-child(2n+1) {
			clear:none;
		}
		.col-xs-4.col-md-2.col:nth-child(3n+1) {
			clear:none;
		}
	}
	.col-xs-6.col-md-3.col:nth-child(4n+1) {
		clear:left;
	}
	.col-xs-4.col-md-2.col:nth-child(6n+1) {
		clear:left;
	}

	.grid-gallery-image-wrapper {
		position: relative;

		img {
			width: 100%;
			height: auto;
			display: block;
		}
	}
	.title {
		.typeface-display();
		position: absolute;
		bottom: 8px;
		left: 0;
		width: 100%;
		padding: 0 9px;
		line-height: 1.5em;
		font-size: 12px;

		span {
			color: @color-black;
			background-color: @color-white;
			padding: 0px 5px;
		}

		@media(min-width:768px) {
			bottom: 12px;
			padding: 0 15px;
			font-size: 16px;
			span {
			}
		}
		@media(min-width:992px) {
			font-size: 16px;
			span {
			}
		}
		@media(min-width:1200px) {
			font-size: 18px;
			span {
			}
		}

	}
	.grid-gallery-link {
		-moz-transition: opacity 0.5s ease-out;  /* FF4+ */
		-o-transition: opacity 0.5s ease-out;  /* Opera 10.5+ */
		-webkit-transition: opacity 0.5s ease-out;  /* Saf3.2+, Chrome */
		-ms-transition: opacity 0.5s ease-out;  /* IE10? */
		transition: opacity 0.5s ease-out;

		&:hover, &:active, &:focus {
			opacity: 0.7;
			text-decoration: none;
		}
	}
	.caption {
		background-color: @color-neutral-light;
		// border: 1px solid @color-black;
		// border-width: 0 0 1px 0;
		color: @color-black;
		padding: 5px 10px;
	}
}


address {
	line-height: 1.8em;
	font-size: 14px;
	@media(min-width:992px) {
		font-size: 18px;
	}
}


.btn {
	border-radius: 0;
	border-width: 2px;
	font-weight: bold;
	padding: 8px 12px 7px 12px;

	&.btn-default {
		color: @color-black;
		border-color: @color-neutral;
		background-color: @color-white;

		&:hover, &:active, &:focus {
			background-color: @color-neutral-light;
		}
	}

	&.btn-primary {
		color: @color-white;
		border-color: @color-white;
		background-color: @color-neutral-dark;

		&:hover, &:active, &:focus {
			background-color: @color-black;
			// border-color: @color-black;
		}
	}
}



ol.breadcrumb {
	background-color: transparent;
	margin-bottom: 0;

	li {
		+li::before {
			content: "> ";
		}
	}
}


// Forms
input, textarea {
	border-radius: 0;
	border: 1px solid @color-neutral;
	padding: 4px 6px;

	&:focus, &:active, &:hover {
		border-color: @color-neutral-dark;
	}
}


// Content Form 7 Plugin
.wpcf7-form {
	input, textarea {
		width: 100%;
	}
}


.alert {
	border-radius: 0;
	border-color: @color-neutral;
	color: @color-black;

	&.alert-warning {
		background-color: @color-neutral-dark;
		color: @color-white;
		border-color: @color-black;
	}
}

.bs-row {
	// Reset the margins of images and headings for better vertical aligned columns.
	.bs-col {
		margin-bottom: 30px;

		> *:first-child {
			margin-top: 0 !important;
		}
		> *:last-child {
			margin-bottom: 0 !important;
		}
	}
}


main table {
	tr + tr {
		border-top: 1px solid @color-neutral;
	}
	tr:hover {
		background-color: @color-neutral-light;
	}
	td {
		padding: 8px 15px;
	}
}

.container.header-footer-widgets {
	margin-top: 15px;
	min-height: 15px;

	section.widget {
		display: inline-block;
		color: @color-neutral-dark;
		margin-bottom: 15px;

		a {
			color: @color-black;
		}

		&.widget_nav_menu {
			// Custom navigation

			ul.menu {
				padding: 0;
				list-style-type: none;
				margin-bottom: 0;

				li {
					display: inline-block;

					a {
						padding: 0 6px;
						font-size: 16px;
					}

					+ li {
						margin-left: 5px;
					}

					&.current-menu-item a, &.current-menu-ancestor a, &.current_page_parent a, a:hover, a:focus, a:active {
						background-color: @color-neutral-dark;
						color: @color-white;
						text-decoration: none;
					}
				}

			}
		}

		+ section.widget {
			margin-left: 15px;
		}
	}
}

// Main Header
header.banner {

	.container {
		background-color: @color-white;
		padding-top: 15px;
		padding-bottom: 15px;


		.banner-logo-col {
			padding-right: 2px;
			@media(max-width:767px) {
				padding-bottom: 15px;
			}

			.banner-logo {
				width: 100%;
				height: auto;
				display: block;
			}
		}

		.banner-thumbnail {
			margin-left: -4px;

			@media(max-width:767px) {
				height: 150px;
			}
			@media(min-width:768px) {
				height: 156px;
			}
			@media(min-width:992px) {
				height: 150px;
			}
			@media(min-width:1200px) {
				height: 185px;
			}

			background-position: center center;
			background-size: cover;
		}

		.page-header {
			margin: 0;
			padding: 0;

			position: absolute;
			left: 20px;
			bottom: 10px;
			border-width: 0;

			@media(min-width:768px) {
				left: 30px;
				bottom: 15px;
			}


			h2 {
				padding: 0;
				margin: 0;

				span {
					background-color: @color-white;
					color: @color-black;
					line-height: 1.6em;
					font-size: 18px;
					@media(min-width:768px) {
						font-size: 24px;
					}
					@media(min-width:992px) {
						font-size: 28px;
					}
					@media(min-width:1200px) {
						font-size: 32px;
					}



					padding: 3px 10px;
				}
			}
		}


	}

}


.main-wrap {
	background-color: @color-white;
	padding-bottom: 15px;
}




footer {
	.container.footer-navigations {
		background-color: @color-neutral-dark;


		.footer-nav {
			padding: 15px 0;

			// Global
			li.menu-item {
				a {
					color: @color-white;
				}

			}


			ul.nav {
				margin: 0 -15px;

				> li {
					display: inline-block;
					float: left;
					width: 25%;
					padding: 0 15px;

					@media(max-width:767px) {
						display: block;
						float: none;
						width: auto;
					}


					> a {
						padding: 10px 15px;
						display: inline-block;
						font-size: 16px;
					}


					&.current-menu-item > a, a:hover, a:focus, a:active {
						background-color: @color-white;
						color: @color-neutral-dark;
						text-decoration: none;
					}


					> ul.sub-menu {
						padding: 0;
						list-style-type: none;
						margin-bottom: 5px;

						> li {
							display: block;

							> a {
								display: inline-block;
								padding: 5px 15px 5px 15px;
								font-size: 12px;
							}

							&.current-menu-item > a, &.current-menu-ancestor > a, a:hover, a:focus, a:active {
								background-color: @color-white;
								color: @color-neutral-dark;
								text-decoration: none;
							}


						}
					}


					@media(max-width:767px) {
						text-align: center;

						> ul.sub-menu {
							display: none;
						}

						&.current-menu-item, &.current-menu-ancestor {
							> ul.sub-menu {
								display: block;
							}
						}
					}
				}
			}
		}
	}


	.container.footer-widgets {
		background-color: @color-neutral-dark;
		min-height: 0;
		margin-top: 0;
		padding-top: 10px;

		section.widget {
			color: @color-white;
			text-align: center;
			display: block;

			a {
				color: @color-white;
			}

			&.widget_nav_menu {
				// Custom navigation

				ul.menu {
					width: 100%;

					li {
						display: block;

						a {
							padding: 5px 15px 5px 15px;
							font-size: 12px;
							display: inline-block;
						}

						+ li {
							margin-left: 0;
						}

						&.current-menu-item a, &.current-menu-ancestor a, &.current_page_parent a, a:hover, a:focus, a:active {
							background-color: @color-white;
							color: @color-black;
							text-decoration: none;
						}
					}

				}
			}

			+ section.widget {
				margin-left: 15px;
			}
		}
	}

}




// ################# widgets ################

.widget-richtext {
	margin-bottom: 30px;

	*:first-child {
		margin-top: 0;
	}
	*:last-child {
		margin-bottom: 0;
	}
}

.widget-jumbobox .jumbotron, .widget-shoplink .jumbotron {
	margin-bottom: 30px;

	border-radius: 0;
	background-color: @color-neutral-light;
	background-position: center;
	background-size: cover; // In case inline background-image is set.

	.h1 {
		margin-top: 0;
	}

	@media(max-width:767px) {
		padding-left: 15px;
		padding-right: 15px;
	}

}

.widget-blogexcerpt {
	margin-bottom: 30px;
}



.widget-blogpost, .widget-blogpost-small {
	article {
		margin-bottom: 40px;


		header {
			margin-bottom: 10px;

			time.updated {
				color: #888;
			}
		}

		.widget-blogexcerpt-thumbnail img, .widget-blogpost-thumbnail img {
			width: 100%;
			display: block;
			height: auto;
		}
		.widget-blogpost-thumbnail img {
			margin-bottom: 30px;
		}
	}
}

.widget-button, .widget-backbutton {
	margin-bottom: 30px;
}
.widget-navigation {
	margin-bottom: 15px;
	a {
		margin-bottom: 15px;
		margin-right: 10px;
	}

	a:last-child {
		margin-right: 0;
	}
}

.widget-slider-gallery {
	margin-bottom: 0;

	.widget-richtext {
		margin-bottom: 30px;
	}

	.photo-galleria {
		margin-top: 0;
		margin-bottom: 30px;
	}
}

.widget-form {
	input.form-control, textarea.form-control {
		width: 100%;
	}
}

.widget-grid-gallery, .widget-grid-navigation {
	margin-bottom: 30px;

	+ .widget-grid-gallery, + .widget-grid-navigation {
		// aufeinanderfolgende Galerien sind mit geringerem Abstand gekachelt
		margin-top: -30px;
	}
}
